.heading{
    font-size: 30px;
    font-weight: bold;
}
.heading2 {
    font-size: 24px;
    font-weight: bold;
  
    margin-top: 20px;
  }
  
  .md10 {
    margin-top: 10px;
  }
  
  
  .inputArea {
  
    margin-top: 20px;
  
    .todoInputField {
      margin-right: 5px;
    }
  }